p{
    color: black;
}

#mas{
    border-radius: 330%;
    
}



#mot{
    height: 50%;
    width: 50%;
}

#Login{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}